html,body{
  margin:0;
  height:100%;
}

/*fonte do corpo é roboto, e o gradiente é esse aí do roxo pro roxo mais rosa*/
body{

  font-family: 'Roboto', sans-serif;
  background-image:linear-gradient(#00003F,#00003F,#120058,#4F00AA);
  background-attachment: fixed;

}
/*criando as sessoes do site*/
section {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 100vh;
}

/*titulo fixo*/
.titulo{
  position:fixed;
  z-index: 1;
  font-size:35px;
  color:white; 
  top:0;
  width:100%;
  height:20%;

  /*background-image: linear-gradient(rgba(00,00,63,1),rgba(00,00,63,1),rgba(00,00,63,1),rgba(00,00,63,0));
  */z-index: 2;

}

.montanha {
  position: fixed;
  left: 0;
  bottom:0;
  width: 98.5vw;
  height: 40vh;
  z-index: 99;
  pointer-events: none;
}

.img-montanha {
  position: absolute;
  bottom: -6%;
  left: 0;
  height: 100%;
  width: 400%
}

/*especificacoes de local e tamanho do menu, que é uma flex box*/
.menu {
  position: fixed; 
  transform: translate(0%,79%); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8.2%;
  height: 40%; 
  z-index: 100;
  top: 0; 
  left: 0; 
  padding-left: 3.125%;
  white-space: nowrap;
}

/*especificacao dos items do menu*/
.menu a {
  color: #ffffff;
  word-wrap: break-word;
  font-size: 1rem;
  text-decoration: none;
  border-top: 1px solid white;
  padding-left: 10%;
  padding-top: 25%;
  padding-bottom: 25%;
  display: block;
}
/*sí esse tem borda no fim, para ficar uniforme*/
#menu-ultimo-item{
  border-bottom: 1px solid white;
}
/*esse é o menu indicador rosinha:*/
#menu-indicador{
  
  position: fixed;
  height: 9%;
  width:1%;
  border-radius: 8px;
  background-color: #D42AFF;
  top:32.2%;
  left:1.7%;
  z-index: 5;

  transition: .5s ease-in;
}
.i{
	width: 500px;
	height: 800px; 
	margin-top: 50px;
	margin-bottom: 50px; 
}

#titulo-nome{
  position: absolute;
  bottom:0;
  left: 3.125%;
}